################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/CafeApp.Core/bin
/src/CafeApp.Core/obj
/src/CafeApp.Core.Tests/bin
/src/CafeApp.Core.Tests/obj
